__pycache__/
*.py[cod]

.venv/
venv/
.env

data/**/database.db
data/**/sparse/
data/**/projections/
data/**/checkpoints/
data/**/*.mp4
data/**/*.pt

results/**/*.pt
results/**/*.mp4

.DS_Store
Thumbs.db
